# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
  config.vm.box = "ubuntu/xenial64"
  config.vm.network "forwarded_port", guest: 80, host: 8080
  config.vm.synced_folder "../", "/app"
  
  config.vm.provider "virtualbox" do |vb|
    vb.memory = "1024"
  end
  
  # Run Ansible from the Vagrant VM
  config.vm.provision "ansible_local" do |ansible|
    ansible.playbook = "ansible/playbook.yml"
    ansible.galaxy_role_file = "ansible/requirements.yml"
  end

  # Run the start php webserver task on every boot.
  config.vm.provision "ansible_local", run: "always" do |ansible|
    ansible.playbook = "ansible/start_php.yml"
  end
end
